{% extends "index.html" %}
{% block title %}상품 목록{% endblock %}
{% block content %}

<h2 class="page-title">Ewha Market</h2>

<style>

  .page-nation ul{
    display:flex;
  }
  .page-nation li{
  list-style: none;
}
.page-wrap{
  text-align: center;
  font-size: 0;
  margin-bottom: 100px;
}
.page-nation{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.page-nation a{
  display: block;
  margin: 0 3px;
  float: left;
  border: 1px solid #e6e6e6;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #fff;
  font-size: 13px;
  color: black;
  text-decoration: none;
  font-weight:bold;
}
</style>

<div class="search-bar">
  <form class="search-form" method="GET" action="/list">
    <input type="text" name="q" placeholder="판매자명 또는 상품명 검색" />
    <select name="sort">
      <option value="">정렬 없음</option>
      <option value="price_asc">가격 낮은 순</option>
      <option value="price_desc">가격 높은 순</option>
    </select>
    <button type="submit">검색</button>
  </form>
</div>

{% if total > 0 %}
  <p>{{ total }}개 상품 등록됨</p>

  <div class="item-grid">
    {% for key, value in row1 %}
    <div
  class="item-card"
  onclick="location.href='{{ url_for('view_item_detail', name=key) }}';"
  style="cursor:pointer;"
>
      <img src="static/images/{{value.img_path}}" />
      <div class="item-info">
        <h3>{{ key }}</h3>
        <p>{{ value.price }}원</p>
        <p>{{ value.addr }}</p>
      </div>
      <span class="like-btn">♡</span>
    </div>
    {% endfor %}

    {% for key, value in row2 %}
    <div
  class="item-card"
  onclick="location.href='{{ url_for('view_item_detail', name=key) }}';"
  style="cursor:pointer;"
>
      <img src="static/images/{{value.img_path}}" />
      <div class="item-info">
        <h3>{{ key }}</h3>
        <p>{{ value.price }}원</p>
        <p>{{ value.addr }}</p>
      </div>
      <span class="like-btn">♡</span>
    </div>
    {% endfor %}
  </div>

  <div class="page-wrap">
    <div class="page-nation">
      <ul>
        {% for i in range(page_count) %}
          <li><a href="{{ url_for('view_list', page=i) }}">{{ i }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% else %}
  <p>등록된 상품이 없습니다.</p>
{% endif %}
{% endblock %}
