{% extends "index.html" %} {% block title %} 리뷰 작성하기 {%endblock %} {%block
content %}

<body>
  <div class="centered-content-wrapper">
    <div class="container">
      <h2>리뷰 작성하기</h2>

      <div class="product-box">
        <img src="" alt="상품이미지" />
        <div class="product-info">
          <p class="product-title">이화 로고 자수 반팔 티셔츠</p>
          <p class="product-price">₩19,900</p>
        </div>
        <p class="product-option">옵션: 하늘색 - S(55-66)</p>
      </div>

      <div class="review-box">
        <form>
          <label><span class="material-icons">star_rate</span>별점</label>
          <div class="stars">
            <span>★</span><span>★</span><span>★</span><span>★</span
            ><span>★</span>
          </div>

          <label
            ><span class="material-icons">add_photo_alternate</span>리뷰 이미지
            업로드</label
          >
          <div class="upload-box">
            <p>
              +<br />클릭하여 이미지를 업로드하세요<br />JPG, PNG 파일만 가능
            </p>
            <input type="file" accept="image/png, image/jpeg" />
          </div>

          <label><span class="material-icons">title</span>리뷰 제목</label>
          <input type="text" placeholder="리뷰 제목을 입력해주세요" />

          <label
            ><span class="material-icons">chat_bubble_outline</span>리뷰
            내용</label
          >
          <textarea
            placeholder="상품에 대한 솔직한 후기를 작성해주세요"
          ></textarea>

          <div class="button-group">
            <button type="submit" class="btn submit">리뷰 등록하기</button>
            <button type="button" class="btn cancel">취소</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

{%endblock%}
